#hide {display: none; }
#hide2 {display: none; }
#hide3 {display: none; }
#hide4 {display: none; }
#hide5 {display: none; }
#hide6 {display: none; }
#hide7{display:none; }
#twoSlicesThreeTrim{display:none;}
#twoSlicesThreeTrim2{display:none;}
#differentPreferences{display:none; }
#finalAllocation{display:none; }
#kNeed{display:none;}
#oneSliceOneTrim{display:none; }
#preferedPiece{display:none; }
#preferedPiece2{display:none; }
#preferedPieceAllocation{display:none; }
#threeSlicesTwoTrim{display:none;}
#dPrefered{display:none;}
#twoSlicesOneTrim5{display:none;}
#twoSlicesOneTrim4{display:none;}
#twoSlicesOneTrim3{display:none;}
#twoSlicesOneTrim2{display:none;}
#twoSlicesOneTrim{display:none;}
#cPreferedK{display:none;}
#cPrefered{display:none;}
#dPreferedK{display:none;}
#twoSlicesAllocation{display:none;}
#samePreferenceAllocation{display:none;}
#samepreference3{display:none;}
#samepreference2{display:none;}
#samepreference{display:none;}
#diffPreferenceAllocation{display:none;}
#twoMustChoose2{display:none;}