.nstSlider{
   background-color: #eee;
   width: 50%;
    margin-top: 5px 0;
	 margin-bottom: 5px 0;
}
.nstSlider .leftGrip{
   background-color: black;
}

button {
	background-color: white;
    color: black;
    border: 2px solid #eee;
	border-radius: 8px;
	width: 50%;
	 margin: 5px 0;
}

.user1{text-align: center;}

.user2{
	 text-align: center;
}
.user1alloc{
	 text-align: center;
}
.user2alloc{
	 text-align: center;
}

canvas{
    margin-top: 10px;
	margin-bottom: 10px;
}

#hide {display: none; }
#hide2 {display: none; }



#inner {
  width: 50%;
  margin: 0 auto;
}

