{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

This web application was create within the context of a fourth year, joint honours computer science project on the subject of envy-free cake cutting, it aims to visualise several envy free cake cutting algorithms and mechanisms.<br>
The algorithms and procedures used for each scenario are as follows;<br>
Two Person Divison: Divide and Choose protocol<br>
Three Person Division: A subsection of the Selfridge-Conway Protocol<br>
'Moving-Knife Three Person Division: Stromquist Moving-Knife Procedure <br>
Four Person Division: Core Protocol from Aziz and Mackenzie's four person envy-free division protocol

{% endblock %}