{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block side_block %}

		<ul class="legend">
				<li><span class="Grass"></span>Grass</li><br>
				<li><span class="Sunny"></span> Sunny</li><br>
				<li><span class="Gravel"></span> Gravel</li><br>
				<li><span class="Water"></span> Water</li><br>
				<li><span class="Tree"></span> Tree</li><br>
				<li><span class="FlowerBed"></span> Flower Bed</li><br>
				<li><span class="Dirt"></span> Dirt</li>
			</ul>

{% endblock %}
{% block body_block %}
  <link type="text/css" rel="stylesheet" href="{% static 'div/slider/dist/jquery.nstSlider.css'%}"></link>
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
  <link href="{% static 'fourperson.css' %}"type="text/css" rel="stylesheet" ></link>


<img id='garden2' src = "{%static "images/garden2.jpg" %}" alt = "garden2" width = 90% style="display: none;"/>
<img id='garden3' src = "{%static "images/garden3.jpg" %}" alt = "garden3" width = 90% style="display: none;"/>
<img id='garden4' src = "{%static "images/garden4.jpg" %}" alt = "garden4" width = 90% style="display: none;"/>
<img id='garden5' src = "{%static "images/garden5.jpg" %}" alt = "garden5" width = 90% style="display: none;"/>
<img id='garden6' src = "{%static "images/garden6.jpg" %}" alt = "garden6" width = 90% style="display: none;"/>


<div>
    <canvas id="firstCanvas" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 275px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
    <canvas id="secondCanvas" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 275px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
	<canvas id="thirdCanvas" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 275px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
</div>
<div>
    <canvas id="shellCanvas" width="600" height="200">Your browser does not support the HTML5 canvas tag.</canvas>
</div>

<body onload="start()" >
<div class = "user4"></div>
	<section id = "slider1">
	<div class="nstSlider" data-range_min="0" data-range_max="100" 
						   data-cur_min="0">

		<div class="leftGrip"></div>
	</div>
	</section>
	<center><button onclick="cut()">Cut</button></center>
	<p id="split"></p>
		<div id="hide">
		<div class = "user1"></div>
			<div class="row">
			
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(1,1)"id="ranking11" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(1,2)" id="ranking12" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(1,3)" id="ranking13" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(1, 4)" id="ranking14" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
			 </div>
		</div>
		<div id="hide2">
		<div class = "user2"></div>
			<div class="row">
			
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(2,1)"id="ranking21" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(2,2)" id="ranking22" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(2,3)" id="ranking23" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(2, 4)" id="ranking24" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
			 </div>
		</div>
		<div id="hide3">
		<div class = "user3"></div>
			<div class="row">
					 
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(3,1)"id="ranking31" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(3,2)" id="ranking32" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(3,3)" id="ranking33" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-4" style="background-color:white;">
						  <canvas onclick="rank(3, 4)" id="ranking34" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
			 </div>
		</div>
		
		<div id = "differentPreferences">
			<div class = "row">
					<div class="col-sm-4" style="background-color:white;">
					<div class = "user1diff"></div>
					  <canvas id="user1" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class = "user2diff"></div>
					  <canvas id="user2" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class = "user3diff"></div>
					  <canvas id="user3" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class = "user4diff"></div>
					  <canvas id="user4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
				</div>
		</div>
		<div id= "threeSlicesTwoTrim">
			<div class= "row">
					<div class ="trimMe1"></div>
					<div class="col-sm-6" style="background-color:white;">
						<canvas id="userITrim1" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
						<canvas id="coverCanvas" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-6" style="background-color:white;">
						<canvas id="userITrim2" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>	
			</div>
			<section id="slider2">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"     data-cur_max="0">
							<div class="bar"></div>
							<div class="leftGrip"></div>
						</div>
			</section>
			<center><button onclick="threeSlices2TrimCut1()">Cut</button></center>
			<div id = "hide4">
				<div class= "row">
						<div class ="trimMe2"></div>
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="userKTrim1" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
							<canvas id="coverCanvas2" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="userKTrim2" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
				</div>
				<section id="slider3">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"     data-cur_max="0">
							<div class="bar"></div>
							<div class="leftGrip"></div>
						</div>
				</section>
				<center><button onclick="threeSlices2TrimCut2()">Cut</button></center>	
				<div id = "hide5">
					<div class= "row">
							<div class ="trimMe3"></div>
							<div class="col-sm-4" style="background-color:white;">
								<canvas id="userJTrim1" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
								<canvas id="coverCanvas3" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
								<canvas id="userJTrim2" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
								<canvas id="coverCanvas4" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
								<canvas id="userJTrim3" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
					</div>
					<section id="slider4">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0" >
							<div class="bar"></div>
							<div class="leftGrip"></div>
						</div>
					</section>
					<section id="slider29">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0" >
							<div class="bar"></div>
							<div class="leftGrip"></div>
						</div>
					</section>
					<center><button onclick="threeSlices2TrimCut3()">Cut</button></center>
				</div>
			</div>
			<div id = "hide7">
				<div class = "jChoose"></div>
				<div class = "row">
					<div class="col-sm-6" style="background-color:white;">
						<canvas id="userJChooseA" onclick="jChoose(1)" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-6" style="background-color:white;">
						<canvas id="userJChooseB" onclick ="jChoose(2)" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
				</div>
			</div>
			<div id = "hide6">
			<div class = "row">
					<div class="col-sm-4" style="background-color:white;">
					<div class ="iSlice"></div>
					  <canvas id="threeTwo1" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class ="kSlice"></div>
					  <canvas id="threeTwo2" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class ="jSlice"></div>
					  <canvas id="threeTwo3" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class = "user4alloc2"></div>
					  <canvas id="threeTwo4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
			</div>
			</div>
		
		</div>
		<div id= "twoSlicesThreeTrim">
		<div class = "user1twoslices"></div>
					<div class= "row">
							<div class="col-sm-4" style="background-color:white;">
								<canvas id="user1TrimA" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
								<canvas id="coverCanvas5" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
								<canvas id="user1TrimB" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
								<canvas id="coverCanvas6" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
								<canvas id="user1TrimC" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>		
					</div>
					<section id="slider5">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0" >
							<div class="bar"></div>
							<div class="leftGrip"></div>
				
						</div>
					</section>
					<section id="slider30">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    >
							<div class="bar"></div>
							<div class="leftGrip"></div>
	
						</div>
					</section>
					<center><button onclick="twoSlicesThreeTrim1()">Cut</button></center>
					<div id= "twoSlicesThreeTrim2">
					<div class = "user2twoslices"></div> 
							<div class= "row">
									<div class="col-sm-4" style="background-color:white;">
										<canvas id="user2TrimA" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
										<canvas id="coverCanvas7" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
									</div>
									<div class="col-sm-4" style="background-color:white;">
										<canvas id="user2TrimB" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
										<canvas id="coverCanvas8" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
									</div>
									<div class="col-sm-4" style="background-color:white;">
										<canvas id="user2TrimC" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
									</div>
							</div>
							<section id="slider6">
								<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    >
									<div class="bar"></div>
									<div class="leftGrip"></div>
								</div>
							</section>
							<section id="slider31">
								<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    >
									<div class="bar"></div>
									<div class="leftGrip"></div>
								
								</div>
							</section>
							<center><button onclick="twoSlicesThreeTrim2()">Submit</button></center>
							
							<div id= "twoSlicesThreeTrim3">
							<div class = "user3twoslices"></div> 
									<div class= "row">
											
											<div class="col-sm-4" style="background-color:white;">
												<canvas id="user3TrimA" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
												<canvas id="coverCanvas9" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
												<canvas id="user3TrimB" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
												<canvas id="coverCanvas10" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
												<canvas id="user3TrimC" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
									</div>
									<section id="slider7">
										<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0">
											<div class="bar"></div>
											<div class="leftGrip"></div>
										
										</div>
									</section>
									<section id="slider32">
										<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0" >
											<div class="bar"></div>
											<div class="leftGrip"></div>
											
										</div>
									</section>
									<center><button onclick="twoSlicesThreeTrim3()">Submit</button></center>
									<div id= "kNeed">
										<div class = "kChoose"></div>
										<div class= "row">
											
											<div class="col-sm-6" style="background-color:white;">
												<canvas id="kChooseA" onclick= "kChosen(1)" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-6" style="background-color:white;">
												<canvas id="kChooseB" onclick = "kChosen(2)" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
												
											</div>
										</div>
									
									
									</div>
									<div id = "finalAllocation">
										<div class = "row">
											<div class="col-sm-4" style="background-color:white;">
											<div class ="nSlice"></div>
											  <canvas id="twoThree1" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
											<div class ="kSlice"></div>
											  <canvas id="twoThree2" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
											<div class ="otherSlice"></div>
											  <canvas id="twoThree3" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
											<div class = "user4alloc3"></div>
											  <canvas id="twoThree4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
									</div>
									</div>
							</div>
							
					</div>
				
		</div>
		<div id = "oneSliceOneTrim">
			<div id="preferedPiece">
				<div class = 'jCuts'></div>
					<div class= "row">
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="jCutsB" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
							<canvas id="coverCanvas26" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="jCutsC" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>	
					</div>
				<section id="slider22">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    >
							<div class="bar"></div>
							<div class="leftGrip"></div>
						</div>
				</section>
				<center><button onclick="jCuts()">Cut</button></center>
				
				<div id = "preferedPiece2">
				<div class = 'kCuts'></div>
					<div class= "row">
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="kCutsB" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
							<canvas id="coverCanvas27" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="kCutsC" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>	
					</div>
				<section id="slider23">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    >
							<div class="bar"></div>
							<div class="leftGrip"></div>
						</div>
				</section>
				<center><button onclick="kCuts()">Cut</button></center>

			
				<div id = "preferedPieceAllocation">
						<div class = "row">
							<div class="col-sm-4" style="background-color:white;">
							<div class ="iSliceAlloc"></div>
	    					<canvas id="oneOneP1" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
							<div class ="kSliceAlloc"></div>
							<canvas id="oneOneP2" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
							<div class ="jSliceAlloc"></div>
							<canvas id="oneOneP3" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
							<div class = "user4alloc4"></div>
							<canvas id="oneOneP4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
						</div>
				</div>
				</div>
			</div>
			<div id = "notPrefered">
				<div class = 'iCuts'></div>
					<div class= "row">
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="iCutsB" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
							<canvas id="coverCanvas28" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="iCutsA" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>	
					</div>
				<section id="slider24">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    >
							<div class="bar"></div>
							<div class="leftGrip"></div>
						</div>
				</section>
				<center><button onclick="iCuts()">Cut</button></center>
					
								<div id = "jCuts2">
									<div class= "row">
											<div class ="jCuts2"></div>
											<div class="col-sm-4" style="background-color:white;">
												<canvas id="jTrimB" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
												<canvas id="coverCanvas29" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
												<canvas id="jTrimC" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
												<canvas id="coverCanvas30" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
												<canvas id="jTrimother" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
									</div>
									<section id="slider25">
										<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    >
											<div class="leftGrip"></div>
										</div>
									</section>
									<section id="slider26">
										<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0" >
											<div class="leftGrip"></div>
										</div>
									</section>
									<center><button onclick="jCuts2()">Cut</button></center>
									
									
									<div id = "kCuts2">
										<div class= "row">
												<div class ="kCuts2"></div>
												<div class="col-sm-4" style="background-color:white;">
													<canvas id="kTrimB" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
													<canvas id="coverCanvas31" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
												</div>
												<div class="col-sm-4" style="background-color:white;">
													<canvas id="kTrimC" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
													<canvas id="coverCanvas32" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
												</div>
												<div class="col-sm-4" style="background-color:white;">
													<canvas id="kTrimother" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
												</div>
										</div>
										<section id="slider27">
											<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
												<div class="leftGrip"></div>
											</div>
										</section>
										<section id="slider28">
											<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
												<div class="leftGrip"></div>
											</div>
										</section>
										<center><button onclick="kCuts2()">Cut</button></center>
									</div>
									
									<div id = "finalChoose">
									<div class = 'finalChoose'></div>
										<div class= "row">
											<div class="col-sm-6" style="background-color:white;">
												<canvas id="finalChooseB" onclick = "finalChoose('B')" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-6" style="background-color:white;">
												<canvas id="finalChooseC" onclick = "finalChoose('C')" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>	
										</div>
									
									
									
									</div>
									
									<div id = "differentAllocation">
										<div class = "row">
											<div class="col-sm-4" style="background-color:white;">
											<div class ="iDiffAlloc"></div>
											<canvas id="diffP1" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
											<div class ="kDiffAlloc"></div>
											<canvas id="diffP2" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
											<div class ="jDiffAlloc"></div>
											<canvas id="diffP3" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-4" style="background-color:white;">
											<div class = "fourDiffAlloc"></div>
											<canvas id="diffP4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
										</div>
									<div>
									
									
								</div>
			
				</div>
			
			</div>
			
	
		</div>
		</div>
		<div id = "twoSlicesOneTrim">
		
			<div id = "dPrefered">
				<div class= "dPreferedJ"></div>
				<div class= "row">
							<div class="col-sm-6" style="background-color:white;">
								<canvas id="userJTrimA" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
								<canvas id="coverCanvas13" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-6" style="background-color:white;">
								<canvas id="userJOther" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>		
				</div>
				<section id="slider10">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
							<div class="leftGrip"></div>
						</div>
				</section>
				<center><button onclick="Dprefered2()">Cut</button></center>
				
				<div id = "dPreferedK">
					<div class= "dPreferedK2"></div>
					<div class= "row">
								<div class="col-sm-6" style="background-color:white;">
									<canvas id="userKTrimA" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
									<canvas id="coverCanvas14" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>
								<div class="col-sm-6" style="background-color:white;">
									<canvas id="userKOther" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>		
					</div>
					<section id="slider11">
							<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
								<div class="leftGrip"></div>
							</div>
					</section>
					<center><button onclick="Dprefered3()">Cut</button></center>
				</div>
			
			</div>
			<div id = "cPrefered">
				<div class= "cPreferedI"></div>
				<div class= "row">
							<div class="col-sm-6" style="background-color:white;">
								<canvas id="userITrimB" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
								<canvas id="coverCanvas15" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-6" style="background-color:white;">
								<canvas id="userIOther" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>		
				</div>
				<section id="slider12">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
							<div class="leftGrip"></div>
						</div>
				</section>
				<center><button onclick="Cprefered2()">Cut</button></center>
				
				<div id = "cPreferedK">
					<div class= "cPreferedK2"></div>
					<div class= "row">
								<div class="col-sm-6" style="background-color:white;">
									<canvas id="userKTrimB" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
									<canvas id="coverCanvas16" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>
								<div class="col-sm-6" style="background-color:white;">
									<canvas id="userKOther2" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>		
					</div>
					<section id="slider13">
							<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
								<div class="leftGrip"></div>
							</div>
					</section>
					<center><button onclick="Cprefered3()">Cut</button></center>
				</div>
			
			</div>
			<div id = "twoSlicesOneTrim2">
				<div class= "twoSlicesK"></div>
					<div class= "row">
								<div class="col-sm-4" style="background-color:white;">
									<canvas id="twoSliceKA" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
									<canvas id="coverCanvas17" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>
								<div class="col-sm-4" style="background-color:white;">
									<canvas id="twoSliceKB" width="300" height="150" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
									<canvas id="coverCanvas18" width="300" height="150" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>
								<div class="col-sm-4" style="background-color:white;">
									<canvas id="twoSliceKOther" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>		
					</div>
					<section id="slider14">
							<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
											<div class="bar"></div>
											<div class="leftGrip"></div>
										
							</div>
					</section>
					<section id="slider33">
							<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
											<div class="bar"></div>
											<div class="leftGrip"></div>
											
							</div>
					</section>
					<center><button onclick="twoSliceKChoice()">Cut</button></center>
			
			<div id = "twoSlicesOneTrim3">
				<div class= "twoSlicesJ"></div>
					<div class= "row">
								<div class="col-sm-6" style="background-color:white;">
									<canvas id="twoSliceJA" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
									<canvas id="coverCanvas19" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>
								<div class="col-sm-6" style="background-color:white;">
									<canvas id="twoSliceJD" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>	
					</div>
					<section id="slider15">
							<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0">
											<div class="leftGrip"></div>
							</div>
					</section>
					<center><button onclick="twoSliceJChoice()">Cut</button></center>
					
				<div id = "twoSlicesOneTrim4">
					<div class= "twoSlicesI"></div>
						<div class= "row">
									<div class="col-sm-6" style="background-color:white;">
										<canvas id="twoSliceIB" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
										<canvas id="coverCanvas20" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
									</div>
									<div class="col-sm-6" style="background-color:white;">
										<canvas id="twoSliceIC" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
									</div>	
						</div>
						<section id="slider16">
								<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
												<div class="leftGrip"></div>
								</div>
						</section>
						<center><button onclick="twoSliceIChoice()">Cut</button></center>
						
						<div id = "twoSlicesOneTrim5">
							<div class= "kChoosing"></div>
								<div class= "row">
											<div class="col-sm-6" style="background-color:white;">
												<canvas id="kChoosingA" onclick = "twoSliceAlloc(1)" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>
											<div class="col-sm-6" style="background-color:white;">
												<canvas id="kChoosingB" onclick = "twoSliceAlloc(2)" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
											</div>	
								</div>
						
						</div>
				
				</div>
			
			</div>
			
			
			</div>
			
			<div id = "twoSlicesAllocation">
				<div class = "row">
							<div class="col-sm-4" style="background-color:white;">
							<div class ="twoSlicesi"></div>
	    					<canvas id="twoOnei" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
							<div class ="twoSlicesj"></div>
							<canvas id="twoOnej" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
							<div class ="twoSlicesk"></div>
							<canvas id="twoOnek" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
							<div class="col-sm-4" style="background-color:white;">
							<div class = "user4alloc5"></div>
							<canvas id="twoOne4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
							</div>
				</div>
				

			</div>
		</div>
		<div id = "threeSlicesOneTrim" >
			<div id = "samepreference">
				<div class = "user1same"></div>
				<div class= "row">
					<div class="col-sm-6" style="background-color:white;">
									<canvas id="same1TrimD" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
									<canvas id="coverCanvas21" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>
								<div class="col-sm-6" style="background-color:white;">
									<canvas id="same1TrimA" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
								</div>		
					</div>
					<section id="slider17">
							<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
								<div class="leftGrip"></div>
							</div>
					</section>
					<center><button onclick="samepreference2()">Submit</button></center>
				
				<div id = "samepreference2">
					<div class = "user2same"></div>
					<div class= "row">
						<div class="col-sm-6" style="background-color:white;">
										<canvas id="same2TrimD" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
										<canvas id="coverCanvas22" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
									</div>
									<div class="col-sm-6" style="background-color:white;">
										<canvas id="same2TrimB" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
									</div>		
						</div>
						<section id="slider18">
								<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
									<div class="leftGrip"></div>
								</div>
						</section>
						<center><button onclick="samepreference3()">Submit</button></center>
					<div id = "samepreference3">
						<div class = "user3same"></div>
						<div class= "row">
							<div class="col-sm-6" style="background-color:white;">
											<canvas id="same3TrimD" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
											<canvas id="coverCanvas23" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
										<div class="col-sm-6" style="background-color:white;">
											<canvas id="same3TrimC" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>		
							</div>
							<section id="slider19">
									<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
										<div class="leftGrip"></div>
									</div>
							</section>
							<center><button onclick="samepreference4()">Submit</button></center>
						<div id = "samePreferenceAllocation">
							<div class = "row">
										<div class="col-sm-4" style="background-color:white;">
										<div class = "user1alloc2"></div>
										<canvas id="same1" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
										<div class="col-sm-4" style="background-color:white;">
										<div class = "user2alloc2"></div>
										<canvas id="same2" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
										<div class="col-sm-4" style="background-color:white;">
										<div class = "user3alloc2"></div>
										<canvas id="same3" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
										<div class="col-sm-4" style="background-color:white;">
										<div class = "user4alloc6"></div>
										<canvas id="same4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
							</div>
						</div>
				
				
					</div>
			
			
				</div>
				
			</div>
			
			<div id = "twoMustChoose">
				<div class = "AMustChoose"></div>
				<div class= "row">
					<div class="col-sm-6" style="background-color:white;">
						<canvas id="diffATrimD" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
						<canvas id="coverCanvas24" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-6" style="background-color:white;">
						<canvas id="diffATrimE" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>		
				</div>
				<section id="slider20">
						<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
								<div class="leftGrip"></div>
						</div>
				</section>
				<center><button onclick="twoMustChoose2()">Cut</button></center>
			
				<div id = "twoMustChoose2">
					<div class = "BMustChoose"></div>
					<div class= "row">
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="diffBTrimD" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 0px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
							<canvas id="coverCanvas25" width="400" height="200" style="position: absolute; left: 0px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>
						<div class="col-sm-6" style="background-color:white;">
							<canvas id="diffBTrimF" width="400" height="200" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
						</div>		
					</div>
					<section id="slider21">
							<div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0"    data-cur_max="80">
									<div class="leftGrip"></div>
							</div>
					</section>
					<center><button onclick="twoMustChoose3()">Cut</button></center>
					
					<div id = "diffPreferenceAllocation">
							<div class = "row">
										<div class="col-sm-4" style="background-color:white;">
										<div class = "userA"></div>
										<canvas id="diffa" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
										<div class="col-sm-4" style="background-color:white;">
										<div class = "userB"></div>
										<canvas id="diffb" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
										<div class="col-sm-4" style="background-color:white;">
										<div class = "userC"></div>
										<canvas id="diffc" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
										<div class="col-sm-4" style="background-color:white;">
										<div class = "user4alloc7"></div>
										<canvas id="diff4" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
										</div>
							</div>
					</div>
				
				</div>
			
			
			</div>
			
		</div>
</body>  
  
  <!-- Include JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'div/slider/dist/jquery.nstSlider.min.js' %}"></script>
  <script src="{% static 'fourperson.js' %}"></script>

{% endblock %}