{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Moving Knife{% endblock %}

{% block side_block %}

		<ul class="legend">
				<li><span class="Grass"></span>Grass</li><br>
				<li><span class="Sunny"></span> Sunny</li><br>
				<li><span class="Gravel"></span> Gravel</li><br>
				<li><span class="Water"></span> Water</li><br>
				<li><span class="Tree"></span> Tree</li><br>
				<li><span class="FlowerBed"></span> Flower Bed</li><br>
				<li><span class="Dirt"></span> Dirt</li>
			</ul>

{% endblock %}
{% block body_block %}
  <link type="text/css" rel="stylesheet" href="{% static 'div/slider/dist/jquery.nstSlider.css'%}"></link>  
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
  <link href="{% static 'movingknife.css' %}" type="text/css" rel="stylesheet" ></link>

<img id='garden2' src = "{%static "images/garden2.jpg" %}" alt = "garden2" width = 90% style="display: none;"/>
<img id='garden3' src = "{%static "images/garden3.jpg" %}" alt = "garden3" width = 90% style="display: none;"/>
<img id='garden4' src = "{%static "images/garden4.jpg" %}" alt = "garden4" width = 90% style="display: none;"/>
<img id='garden5' src = "{%static "images/garden5.jpg" %}" alt = "garden5" width = 90% style="display: none;"/>
<img id='garden6' src = "{%static "images/garden6.jpg" %}" alt = "garden6" width = 90% style="display: none;"/>
<div>
    <canvas id="firstCanvas" width="400" height="200" style="border:1px solid #000000;position: absolute; left: 275px; top: 0; z-index: 1;">Your browser does not support the HTML5 canvas tag.</canvas>
    <canvas id="secondCanvas" width="400" height="200" style="position: absolute; left: 275px; top: 0; z-index: 2;">Your browser does not support the HTML5 canvas tag.</canvas>
	<canvas id="user3" width="400" height="200" style="position: absolute; left: 275px; top: 0; z-index: 3;">Your browser does not support the HTML5 canvas tag.</canvas>
	<canvas id="user2" width="400" height="200" style="position: absolute; left: 275px; top: 0; z-index: 3;">Your browser does not support the HTML5 canvas tag.</canvas>
	<canvas id="user1" width="400" height="200" style="position: absolute; left: 275px; top: 0; z-index: 3;">Your browser does not support the HTML5 canvas tag.</canvas>

	
</div>
<div>
    <canvas id="shellCanvas" width="600" height="200">Your browser does not support the HTML5 canvas tag.</canvas>
</div>

<body onload="starthere()" >
<div class = "explain"></div>
<div class = "explainone"></div>
<div class = "explain2"></div>
<div class = "explain3"></div>
<div class = "explain4"></div>
<center><button class="button" onclick="move()">Start</button></center>
<div id="hide">
		            <div class="col-sm-4" style="background-color:white;">
					<div class="user1"></div>
					  <canvas id="user1slice" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class="user2"></div>
					  <canvas id="user2slice" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>
					<div class="col-sm-4" style="background-color:white;">
					<div class="user3"></div>
					  <canvas id="user3slice" width="300" height="150" style="border:1px solid #000000;">Your browser does not support the HTML5 canvas tag.</canvas>
					</div>

				</div>

</body>  
  
  <!-- Include JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'div/slider/dist/jquery.nstSlider.min.js' %}"></script>
<script src="{% static 'movingknife.js' %}"></script>

{% endblock %}